body {
    width: 100%;
}
.sebm-google-map-container {
    height: calc(100vh - 20px);
    
}

.red{
    text-decoration: none;
    color: red;
}

.button {    
    float: right;
}

.menu {
    width: 50%;
    position: absolute;
    z-index: 999;   
    margin-left: 25%; 
    padding: 5px;
    background-color: white;
    border: 1px solid #d5d5d5;
    border-top: none;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 2px 2px 2px silver;

}



@media screen and (max-width : 520px){
    .menu {
        margin-left: 12.5%;
        width: 75%;
    }
    .menu  input {
        width: 45%;
        margin: 2px;        
    }
    .draggable{
        width: 50%;
    }
    .draggable input{
        width: auto;
    }

    .menu button {
        width: 100%;
        display: block;
    }


}